.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(
    255,
    255,
    255,
    0.2
  ); /* Transparent with a little white color */
  backdrop-filter: blur(10px); /* For backdrop blur effect */
  z-index: 1000; /* Ensure the navbar stays on top of other content */
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  max-width: 100%;
}

.navbar-brand {
  padding: 10px;
}

.navbar-logo {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  margin: 0 10px;
}

.navbar-links li a {
  color: white;
  text-decoration: none;
}
